$geekway-green: #00b259;
$geekway-green-rgb: rgb(0, 178, 89);
$geekway-blue: #0088f0;
$geekway-medium-blue: #67aee5;
$geekway-light-blue: #c7d8e5;
$geekway-dark-blue: #0130d3;
$purple: blueviolet;

$light-blue: #d3ecff;
$not-quite-white: #eff1f7;
$light-gray: #e3e6ed;
$medium-gray: #999;
$dark-gray: #667;
$charcoal: #333;
