@import "../node_modules/@blueprintjs/core/lib/scss/variables";

html {
  height: 100%;

  body {
    height: 100%;
    padding-top: $pt-navbar-height;

    #index {
      display: flex;
      height: 100%;
    }
  }
}

